body {
  background-color: antiquewhite
}

.about-text {
  font-size: 16px;
  
}

.logo {
  color: gray;
}

.navItem {
  color: gray;
}

.btn {
  margin-right: 5px;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.todo-list button {
  width: 40px;
}

.tableActions {
  width: 105px;
}

.todoForm {
  padding-bottom: 60px;
}

.descriptions td p {
  font-size: 14px;
}
